/*
** Buttons 
*/

.btn {
	margin: 0;
	font-size: 18px;
	height: 42px;
    line-height: 42px;
    @include scale(1);
	@include transition(0.2s);
}
.btn-large {
	margin: 0;
	font-size: 18px;
	height: 64px;
    line-height: 64px;
    @include scale(1);
	@include transition(0.2s);
}

.btn-order {
	position: relative;
	margin: 15px 0;
	height: 65px;
	width: 100%;
    display: inline-block;

	.icon {
		position: absolute;
		top: 0px;
		left: 0;
		right: 0;
		font-size: 60px;
		@include scale(0);
		@include transition(0.2s);
	    -webkit-transition-delay: 0.1s; /* Safari */
    	transition-delay: 0.1s;
	    line-height: 0;
	}

	&.checked {
		pointer-events: none;

		.btn {
			opacity: 0;
			@include scale(0.5);
		}

		.icon {
			@include scale(1);
		}
	}
}