/*
** Content 
*/


/* Top content */
.top-content {
	background: #e7e7e7;
	color: #777;
	padding-top: 20px;
	padding-bottom: 20px;
}


/* Bottom content */
.bottom-content {
	color: #fff;
	padding-top: 20px;
	padding-bottom: 20px;

	.pointer {
		opacity: 1;
		@include transition(0.2s);

	    &:before {
	    	@include transition(0.2s);
			@include rotate(0);
		}

		&.active {

			&:before {
				@include transition(0.2s);
				@include rotate(180);
			}
		}
	}
}