/*
** Icon 
*/


.icon {
	font-size: 28px;
	vertical-align: middle;

	&.large {
		font-size: 40px;
	}

	&.ion-ios-arrow-down {
		opacity: 0.7;
		position: relative;
		@include animation(mymove 1.3s infinite ease-out);
		top: -10px;
	}

	@include keyframes(mymove) {
		0%   {top: -10px;}
		25%  {top: 10px;}
		100% {top: -10px;}
	}
}